body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  background-color: #111;
}
#headbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: black;
}
#headbox h2 {
  color: white;
  font-size: 32px;
  font-family: Arial;
}
#slave {
  color: rgb(75, 75, 232);
  font-family: impact;
}
#trail {
  width: 100%;
  height: 10px;
  background: linear-gradient(to bottom, black, #111);
}
#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 220px;
  border-radius: 10px;
  height: 350px;
  position: relative;
  margin: 40px auto;
  overflow: hidden;
  border: 2px solid white;
  color: white;
}
button {
  margin-top: 50px;
  height: 30px;
  background-color: rgb(75, 75, 232);
  font-weight: bold;
  border: none;
  border-radius: 7px;
}
button:hover {
  box-shadow: 0px 0px 5px rgba(87, 87, 196, 0.8);
  background-color: rgb(44, 44, 218);
  cursor: pointer;
}
#bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  position: absolute;
  object-fit: cover;
  z-index: -2;
}
input[type="password"] {
  background-color: rgb(23, 21, 21);
  color: white;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
input[type="text"] {
  background-color: rgb(23, 21, 21);
  color: white;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
label[for="username"],
label[for="password"] {
  font-weight: bold;
  display: flex;
  margin-top: 10px;
  font-size: 18px;
}
#username:hover,
#password:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}
#text {
  color: red;
  display: none;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
}
h1 {
  display: flex;
  justify-content: center;
  height: 40px;
}
#success {
  display: none;
  justify-content: center;
  color: lightgreen;
}
#link {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
